@import "tailwindcss";
@font-face {
  font-family: 'Vazir';
  src: url('/fonts/vazir/Vazirmatn-FD-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'Vazir', tahoma, Arial, sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes slideup {
  0% { transform: translateY(80px); opacity:0 }
  100% { transform: translateY(0); opacity:1 }
}
.animate-slideup { animation: slideup 0.25s cubic-bezier(.5,1.7,.5,.7); }